body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 20px);
    border: 1px dashed blue;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .game-area {
    width: 95%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
  }
  
  #game-info {
    background-color: burlywood;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  #controls {
    background-color: darkgrey;
  }
  
  #game-board {
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .tube {
    width: 45px;
    height: 180px;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0 0 22px 22px;
    margin: 8px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .water {
    width: 100%;
  }
  
  .tube.selected {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transform: translateY(-15px);
  }